@use '../../scss/index' as *;

.toggle {
  font-size: calc(#{$font-size} / 4);
  width: 3.5rem;
  .nbrtheme {
    @include flex(center, space-between);
    padding: 0.2rem;
  }
  .bartheme {
    height: 1.3rem;
    padding-inline: 0.2rem;
    background-color: $sbg-dark-blue;
    border-radius: 30px;
    display: flex;
    align-items: center;
    .circletheme {
      height: 1rem;
      background-color: $key-bg-red;
      width: 1rem;
      border-radius: 999999px;
    }
  }
}

//  neon theme

.neon {
  .toggle {
    .bartheme {
      background-color: $kp-very-dark-violet;
      .circletheme {
        background-color: $key-bg-pure-cyan;
      }
    }
  }
}

//  light theme

.light {
  .toggle {
    .bartheme {
      background-color: $kp-grayish-red;
      .circletheme {
        background-color: $key-bg-orange;
      }
    }
  }
}
