@use '../../scss/index' as *;

.key {
  width: 25%;
  margin-block: 0.5rem;
  height: 2.5rem;
  padding-top: 0.5rem;
  border-radius: 10px;
  @include flex(center, center);
  background-color: $key-bg-light-grayish-orange;
  color: $text-dark-grayish-blue;
  @include shadow($key-shadow-grayish-orange);
  font-size: $font-size;
  cursor: pointer;
  &:hover {
    background-color: $key-shadow-grayish-orange;
  }
}

.bigkey {
  width: 50%;
  font-size: calc(#{$font-size} - 10px);
}

.equalkeybg {
  background-color: $key-bg-red;
  color: $text-white;
  @include shadow($key-shadow-dark-red);

  &:hover {
    background-color: $key-shadow-dark-red;
  }
}

.specialkeybg {
  background-color: $key-bg-dark-blue;
  color: $text-white;
  @include shadow($key-shadow-dark-blue);

  &:hover {
    background-color: $key-shadow-dark-blue;
  }
}

// neon theme

.neon {
  .key {
    background-color: $key-bg-very-dark-violet;
    color: $text-light-yellow;
    @include shadow($key-shadow-dark-magenta);
    cursor: pointer;
    &:hover {
      background-color: $key-shadow-dark-magenta;
    }
  }

  .equalkeybg {
    background-color: $key-bg-pure-cyan;
    color: $text-very-dark-blue;
    @include shadow($key-shadowsoft-cyan);
    &:hover {
      background-color: $key-shadowsoft-cyan;
    }
  }

  .specialkeybg {
    background-color: $key-bg-dark-violet;
    color: $text-white;
    @include shadow($key-shadow-vivid-magenta);

    &:hover {
      background-color: $key-shadow-vivid-magenta;
    }
  }
}
