@use '../../scss/index' as *;

.keyboard {
  background-color: $kp-dark-blue;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 1rem;
  .row {
    @include flex(center, center);
    gap: 1rem;
  }
}

// neon theme
.neon {
  .keyboard {
    background-color: $kp-very-dark-violet;
  }
}

// light theme
.light {
  .keyboard {
    background-color: $kp-grayish-red;
  }
}
