@use './scss/index' as *;

* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: $bg-dark-blue;
  height: 100vh;
  @include flex(center, center);
  color: $text-white;
  font-family: $font-family;
  font-weight: $fony-weights;
}

.calculator {
  width: $mobile;
  overflow: hidden;
  padding: 1rem;
}

@include mobile {
  .calculator {
    width: 100%;
  }
}

// neon theme
.neon {
  .app {
    background-color: $bg-very-dark-violet;
    color: $text-light-yellow;
  }
}
