// # Front-end Style Guide

/*========================================
          Layout
========================================*/

// The designs were created to the following widths:

$mobile: 375px;
$desktop: 1440px;

/*========================================
          Typography
========================================*/
// ### Body Copy
// numbers
$font-size: 32px;

// ### Font
@import url('http://fonts.cdnfonts.com/css/league-spartan');
$font-family: 'League Spartan', sans-serif;
$fony-weights: 700;

/*========================================
          Colors
========================================*/
// ### Theme 1

// #### Backgrounds
// main background
$bg-dark-blue: hsl(222, 26%, 31%);

// toggle background, keypad background
$kp-dark-blue: hsl(223, 31%, 20%);

// screen background
$sbg-dark-blue: hsl(224, 36%, 15%);

// #### Keys
// key background
$key-bg-dark-blue: hsl(225, 21%, 49%);

// key shadow
$key-shadow-dark-blue: hsl(224, 28%, 35%);

// key background, toggle
$key-bg-red: hsl(6, 63%, 50%);

// key shadow
$key-shadow-dark-red: hsl(6, 70%, 34%);

// key background
$key-bg-light-grayish-orange: hsl(30, 25%, 89%);

// key shadow
$key-shadow-grayish-orange: hsl(28, 16%, 65%);

// #### Text
$text-dark-grayish-blue: hsl(221, 14%, 31%);
$text-White: hsl(0, 0, 100%);
