// # Front-end Style Guide

/*========================================
          Layout
========================================*/

// The designs were created to the following widths:

$mobile: 375px;
$desktop: 1440px;

/*========================================
          Typography
========================================*/
// ### Body Copy
// numbers
$font-size: 32px;

// ### Font
@import url('http://fonts.cdnfonts.com/css/league-spartan');
$font-family: 'League Spartan', sans-serif;
$fony-weights: 700;

/*========================================
          Colors
========================================*/
// ### Theme 1

// #### Backgrounds
// main background
$bg-dark-blue: rgb(58, 71, 100);

// toggle background, keypad background
$kp-dark-blue: #232c43;

// screen background
$sbg-dark-blue: #182034;

// #### Keys
// key background
$key-bg-dark-blue: #637097;

// key shadow
$key-shadow-dark-blue: #404e72;

// key background, toggle
$key-bg-red: #d03f2f;

// key shadow
$key-shadow-dark-red: #93261a;

// key background
$key-bg-light-grayish-orange: #eae3dc;

// key shadow
$key-shadow-grayish-orange: #b4a597;

// #### Text
$text-dark-grayish-blue: #444b5a;
$text-white: #ffffff;

// ### Theme 2

// #### Backgrounds
// main background
$Light-gray: #e6e6e6;
// toggle background, keypad background
$Grayish-red: #d1cccc;
// screen background
$Very-light-gray: #ededed;

// #### Keys

// key background
$Dark-moderate-cyan: #377f86;
// key shadow
$Very-dark-cyan: #1b5f65;

// key background, toggle
$Orange: #ca5502;
// key shadow
$Dark-orange: #893901;

// key background
$Light-grayish-yellow: #e5e4e1;
// key shadow
$Dark-grayish-orange: #a69d91;

// #### Text
$Very-dark-grayish-yellow: #35352c;
// text
$White: #ffffff;

// ### Theme 3

// #### Backgrounds
// main background
$Very-dark-violet: rgb(22, 6, 40);
// toggle background, keypad background, screen background
$Very-dark-violet: rgb(29, 9, 52);

// #### Keys

// key background
$Dark-violet: rgb(88, 7, 125);
// key shadow
$Vivid-magenta: #bc15f4;

// key background, toggle
$Pure-cyan: #00e0d1;
// key shadow
$Soft-cyan: #6cf9f2;

// key background
$Very-dark-violet: rgb(52, 28, 79);
// key shadow
$Dark-magenta: #871c9c;

// #### Text

$Light-yellow: #ffe53d;
$Very-dark-blue: #1b2428;
// text
$White: #ffffff;
